.light-mode {
  background-color: white;
  color: black;
  text-align: center;
  padding: 30px;
  height: 300px;
}

.dark-mode {
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
  height: 300px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
